<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tambah Mata Kuliah</title>
    <link href="{{ url_for('static', filename='styles/admin.css') }}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link href="{{ url_for('static', filename='styles/add_user.css') }}" rel="stylesheet" type="text/css" />
    <script>
        {% if error %}
        alert("{{ error }}");
        {% endif %}
    </script>
</head>

<body>
    <div class="container">
        <nav>
            <ul>
                <li>
                    <a href="/lecturer" class="logo">
                        <img src="{{ url_for('static', filename='Files/Resources/admin_icon.jpg') }}" />
                        <span class="nav-item">Admin</span>
                    </a>
                </li>
                <li>
                    <a href="/admin">
                        <i class="fas fa-user-graduate"></i>
                        <span class="nav-item">Daftar Mahasiswa</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/add_student">
                        <i class="fas fa-user-plus"></i>
                        <span class="nav-item">Tambah Mahasiswa</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/lecturer_data">
                        <i class="fas fa-chalkboard-teacher"></i>
                        <span class="nav-item">Daftar Dosen</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/add_lecturer">
                        <i class="fas fa-user-plus"></i>
                        <span class="nav-item">Tambah Dosen</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/subject_data">
                        <i class="fas fa-book"></i>
                        <span class="nav-item">Daftar Mata Kuliah</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:location.reload();">
                        <i class="fas fa-book-medical"></i>
                        <span class="nav-item">Tambah Mata Kuliah</span>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('routes.logout') }}" class="logout">
                        <i class="fas fa-sign-out-alt"></i>
                        <span class="nav-item">Log out</span>
                    </a>
                </li>
            </ul>
        </nav>
        <section class="main">
            <section class="container1">
                <header>Tambah Mata Kuliah</header>
                <form action="/admin/add_subject" method="post" class="form">
                    <div class="input-box">
                        <label for="code">Kode Mata Kuliah</label>
                        <input type="text" name="code" id="code" required />
                    </div>
                    <div class="input-box">
                        <label for="name">Nama Mata Kuliah</label>
                        <input type="text" name="name" id="name" required />
                    </div>
                    <div class="input-box">
                        <label for="lecturer">Dosen</label>
                        <select name="lecturer" id="lecturer" required>
                            <option value="" disabled selected>Pilih Dosen</option>
                            {% for lecturer in lecturers %}
                            <option value="{{ lecturer }}">{{ lecturer }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="input-box">
                        <label for="kelas">Kelas</label>
                        <input type="text" name="kelas" id="kelas" required />
                    </div>
                    <button>Submit</button>
                </form>
            </section>
        </section>
    </div>
</body>

</html>