<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <link href="{{ url_for('static', filename='styles/admin.css') }}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
</head>

<body>
    <div class="container">
        <nav>
            <ul>
                <li>
                    <a href="javascript:location.reload();" class="logo">
                        <img src="{{ url_for('static', filename='Files/Resources/admin_icon.jpg') }}" />
                        <span class="nav-item">Admin</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:location.reload();">
                        <i class="fas fa-user-graduate"></i>
                        <span class="nav-item">Daftar Mahasiswa</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/add_student">
                        <i class="fas fa-user-plus"></i>
                        <span class="nav-item">Tambah Mahasiswa</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/lecturer_data">
                        <i class="fas fa-chalkboard-teacher"></i>
                        <span class="nav-item">Daftar Dosen</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/add_lecturer">
                        <i class="fas fa-user-plus"></i>
                        <span class="nav-item">Tambah Dosen</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/subject_data">
                        <i class="fas fa-book"></i>
                        <span class="nav-item">Daftar Mata Kuliah</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/add_subject">
                        <i class="fas fa-book-medical"></i>
                        <span class="nav-item">Tambah Mata Kuliah</span>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('routes.logout') }}" class="logout">
                        <i class="fas fa-sign-out-alt"></i>
                        <span class="nav-item">Log out</span>
                    </a>
                </li>
            </ul>
        </nav>
        <section class="main">
            <div class="main-top">
                <h1>Mahasiswa dan Mahasiswi Yang Terdaftar 2025</h1>
            </div>
            <div class="users">
                {% for i in range(data|length) %}
                <div class="card">
                    <img src="{{ url_for('static', filename='Files/Images/'+ data[i][0]['id']+'.png') }}" />
                    <h4>{{ data[i][0]['name'] }}</h4>
                    </h4>
                    <p>{{ data[i][0]['starting_year'] }}</p>
                    <div class="per">
                        <table>
                            <tr>
                                <td><span>{{ data[i][0]['year'] }}</span></td>
                            </tr>
                            <tr>
                                <td>Semester</td>
                            </tr>
                        </table>
                    </div>
                    <form method="POST" action="/admin/edit_student">
                        <button class="edit_student" type="submit" name="edit_student"
                            value="{{ data[i][0]['id'] }}">Detail
                            Mahasiswa</button>
                    </form>
                </div>
                {% endfor %}
            </div>
        </section>
    </div>
</body>

</html>