<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pilih Mata Kuliah</title>
    <link href="{{ url_for('static', filename='styles/admin.css') }}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link href="{{ url_for('static', filename='styles/choose_subject.css') }}" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="container">
        <nav>
            <ul>
                <li>
                    <a href="/lecturer" class="logo">
                        <img src="{{ url_for('static', filename='Files/Resources/admin_icon.jpg') }}" />
                        <span class="nav-item">Dosen</span>
                    </a>
                </li>
                <li>
                    <a href="/lecturer">
                        <i class="fas fa-book-reader"></i>
                        <span class="nav-item">Daftar Mata Kuliah</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:location.reload();">
                        <i class="fas fa-book"></i>
                        <span class="nav-item">Lakukan Absen</span>
                    </a>
                </li>
                <li>
                    <a href="lecturer_attendance_list">
                        <i class="fas fa-chart-bar"></i>
                        <span class="nav-item">Daftar Kehadiran</span>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('routes.logout') }}" class="logout">
                        <i class="fas fa-sign-out-alt"></i>
                        <span class="nav-item">Log out</span>
                    </a>
                </li>
            </ul>
        </nav>
        <section class="main">
            <div class="form-container">
                <form action="/lecturer/choose_subject" method="post" class="form">
                    <h1 class="welcome">Pilih Mata Kuliah</h1>
                    <div class="input-box">
                        <select name="subject" id="subject" required>
                            {% if subjects %}
                            {% for subject_code, subject in subjects.items() %}
                            <option value="{{ subject.name }} ({{ subject.kelas }})">{{ subject.name }} - Kelas {{
                                subject.kelas }}</option>
                            {% endfor %}
                            {% else %}
                            <option value="" disabled selected>Anda belum memiliki mata kuliah</option>
                            {% endif %}
                        </select>
                    </div>
                    <button type="submit">Absensi</button>
                </form>
            </div>
        </section>
    </div>
</body>

</html>